<div id="AboutDivId" class="container  MarginBottom30">

  <div class="row">
    <div class="col-md-4"></div>
    <div class=' col-md-4 card card-profile text-center'>
        <img alt='' class='card-img-top' src='https://unsplash.it/340/160?image=354'>
        <div class='card-block'>
          <img alt='' class='card-img-profile' src='../assets/images/MyPic_140.jpg'>
          <h4 class='card-title'>
            Sahil Bedi
            <small>Full Stack Developer</small>
            <small>er.sahil.1991@gmail.com</small>
          </h4>
          <div class='card-links'>
            <!-- <a class='fa fa-dribbble' href='#'></a> -->
            <a class='fa fa-linkedin' target="_blank" href='https://www.linkedin.com/in/sahil-bedi-33846262/'></a>
            <a class='fa fa-facebook' target="_blank" href='https://www.facebook.com/er.sahil1'></a>
          </div>
        </div>
      </div>

    <div class="col-md-4"></div>
  </div>
</div>



