<div class="container MarginTop80 MarginBottom30">
    <div  class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"><h4 class="my-4">Add Question ?</h4></div>        
    </div>


  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <div *ngIf="!isHidden"  [ngClass]="isSuccess? 'alert alert-success text-center': 'alert alert-danger text-center'">
            {{messageText}}
          </div>

        <form #MyForm="ngForm">
            <div class="form-group">
              <label>Title</label>
              <input type="text" id="title" class="form-control" name="title" [(ngModel)]="Answerobj.title" #title="ngModel" required  placeholder="what is class ?">

              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                  Title is required.
              </div> 

            </div>
            <div class="form-group">
              <label>Category</label>
              <select class="form-control" id="selectedType" name="selectedType" (change)="GetMaxRecordCountForSelectedType()" required [(ngModel)]="selectedType" #catType="ngModel">
                  <option [ngValue]="null">Select Category</option>
                <option value="CSharp">C#.Net</option>
                <option value="MVC">ASP.Net MVC</option>
                <option value="WebApi">Web API</option>
                <option value="ASP">ASP.Net</option>
                <option value="WCF">WCF</option>
                <option value="MSSql">Sql Server</option>
              </select>

              <div *ngIf="catType.invalid &&  catType.touched" class="alert alert-danger">
                  Category is required.
              </div> 

            </div>            
            <div class="form-group">
              <label>Answer</label>
              <textarea class="form-control" placeholder="Optional" name="Answerobj.divContent" [(ngModel)]="Answerobj.divContent" rows="3"></textarea>
            </div>
            <button [disabled]="MyForm.invalid"  class="btn btn-success float-right" (click)="SaveQuestion()">Save</button>
          </form>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>








<!-- <div class="modal" id="questionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
