/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";

.MarginTop80{
    margin-top: 80px;
}

.MarginBottom30{
    margin-bottom: 30px;
}

.MarginBottom0{
    margin-bottom: 0px;
}

.MarginTop33{
    margin-top: -33px;    
}

.MarginTop33 h1{   
    margin-left: 14px;
}

#AboutDivId{
margin-top: 50px;
}

.card-body div,.card-body div p{
    text-align: justify;
}

/* .card-header .btn-link,.card-header .btn-link:hover{
    color: #001f3f;
} */

.card-header .btn-link
{
    font-weight: 500;
    color: black;
    background-color: transparent;
}

.card-header .btn-link:hover, .card-header .btn-link:focus{
    text-decoration: none !important;
    color: black;
}

.borderLeftGreen{
    border-left: 5px solid green;
}
.borderLeftYellow{
    border-left: 5px solid yellow;
}


/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .MarginTop80{
        margin-top: 44px;
    }

    .MarginBottom0{
        margin-bottom: 12px;
    }
    .MarginBottom0 .col-md-6 h4{
        font-size: 1.3rem;
    }
    .MarginBottom0 h1{
        font-size: 1.5rem;
        margin-left: 14px;
    }

    .MarginTop33{
        margin-top: 0px;    
    }
    #AboutDivId{
        margin-top: 34px;
        }

    .btn.wrapText{
        white-space: normal !important;
        font-size: 12px;
        text-align: left;
    }

    .card-body div,.card-body div p,.card-body div p ul li,.card-body div ul li,.card-body span{
        font-size: 13px;
    }

    .MyClsQue .alert.alert-info{
        font-size: 13px;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
 {
    /* .MarginTop80{
        margin-top: 44px;
    } */

    .MarginBottom0 h1{     
        margin-left: 14px;
    }

    .MyClsQue .row .Mycol1{
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
    }

    .MyClsQue .row .Mycol2{
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
}

